<div class="col-sm-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= post.title %></h3>
    </div>
    <div class="panel-body">
      <% if post.image.present? %>
        <%= image_tag post.image.url(:thumb), class: "uploaded-pic" %>
      <% end %>
      <p><%= post.description %></p>
      <p>
        <% post.tags.each do |tag| %>
          <%= link_to tag.name, tag_path(tag) %>
        <% end %>
      </p>
      <p>
        <% unless post.address.blank? %>
          <%= link_to "Map", post_map_path(post), class: "btn btn-success" %>
        <% end %>
      </p> 
      <p>
        <%= link_to "Order", new_post_charge_path(post), class: "btn btn-success" %>
        <!-- CREATE a like directly by clicking button, hence POST method -->
        <%= link_to "â¤ #{post.likes.count}", post_likes_path(post), method: :post, class: "btn btn-success" %>
      </p>
    </div>
    <div class="panel-footer">
      <p>Posted by <%= post.user.name %></p>
    </div>
  </div>
</div>